@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #fondo{
    position: relative;
    height: 100vh;
  }

  #fondo .fondo-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(2 6 23 / var(--tw-bg-opacity, 1));
    background-size: cover;
  }

  #fondo .error {
    position: absolute;
    left: 48%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .error {
    max-width: 910px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .error .error-404 {
    position: relative;
    height: 200px;
  }

  .error .error-404 h1 {
    font-family:  "Ubuntu", sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: 700;
    margin: 0px;
    color: #fff;
    letter-spacing: 10px;
  }

  .error h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .error, .error {
    font-family: 'Verdana', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(2 6 23 / var(--tw-bg-opacity, 1));
    border: 2px solid transparent;
    /* text-transform: uppercase; */
    padding: 13px 40px; /* Aumenta el padding horizontal */
    font-size: 18px;
    border-radius: 10px; /* Menos curvatura para mejorar la forma */
    margin: 7px;
    transition: 0.2s all;
    color: blue;
    
    /* Hace que el botón tenga forma de romboide */
    display: inline-block;
    transform: skewX(-20deg); /* Inclina el botón */
    text-align: center;
  }

  .btn-inicio{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    background-color: #2672EF;
    border: 2px solid #9EC3FF;
    padding: 13px 40px; /* Aumenta el padding horizontal */
    font-size: 20px;
    border-radius: 10px; /* Menos curvatura para mejorar la forma */
    margin: 7px;
    transition: 0.2s all;
    color: white !important;
    
    /* Hace que el botón tenga forma de romboide */
    display: inline-block;
    transform: skewX(-20deg); /* Inclina el botón */
    text-align: center;
  }

  .error .btn-inicio:hover{
    background-color: #4787ed;
  }

  .image-error{
    width: 160px;
    height: 160px;
  }